.footer {
  display: flex;
  align-items: center;
  font-size: xx-small;
  justify-content: center;
  background-image: url(../public/img/fondoHeader.jpg);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.footer h1 {
  margin:1em;
  font-weight: 100;
}