.barra {
    display: flex;
    justify-content: center;
    background-color: #210d86;
    background-image: url(../public/img/fondoHeader.jpg);
    background-position: right;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.navegacion {
    margin-top: 3rem;
}

.logo {
    margin-left: 3rem;
}




