.contenedor {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin-bottom: 4vh;
    backdrop-filter: blur(2px);
}

.prev,
.next {
    width: 10vh;
    height: 5vh;
    background-color: #41D0FD;
    color: black;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    list-style: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.prev:hover {
    background-color: #F082AC;
}

.next:hover {
    background-color: #F082AC;
}